@import "tailwindcss";

:root {
  font-family:  "Pixelify Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 255, 0, 0.87);
  background-color: #F4EFE4;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary-red: #ED3F27;
  --color-primary-orange: #FEB21A; 
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: url('src/assets/Jeelh-Retro-Cursors/Jeelh-Cursor-Light/Normal Select Light.cur'), auto;
}

button, a {
  cursor: url('src/assets/Jeelh-Retro-Cursors/Jeelh-Cursor-Light/Select Light.cur'), pointer;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
